html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
	padding-top:0!important;
	font-family: 'Ek Mukta', sans-serif;
}
h2 {
	color: #7addb9;
	padding-bottom:5px;
}
p{
	font-size:13pt;
}
.links{
	width:100vw;
	padding-top: 3%;
	text-align: center;
}
.links a{
	font-weight:300;
	padding-right:15px;
	padding-left:15px;
	font-size:15pt;
	color:#21564b;	
}
.links a:hover{
	text-decoration: none;
	color:white;
}
.links a:visited{
	text-decoration: none;
}
.links a:focus{
	text-decoration: none;
	color:#45b29a;
}

.landing{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	background-color:#7addb9;
	/*background: linear-gradient(to top,rgba(50,153,187,0.2), rgb(122,221,185)); /* Standard syntax */*/
}

@keyframes actionShapesAnim {
  0%   { opacity: 1; }
  50%{opacity:1;}
  51%{opacity:0;}
  99%{opacity:0;}
  100%{opacity: 1;}
}
@keyframes textAnim {
  0%   { opacity: 0; }
  1% { opacity: 1;}
  70%{opacity:1;}
  71%{opacity:0;}
  99%{opacity:0;}
}


.landing .actionShapes{
	position:absolute;
	width:100vw;
	left:42.7%;
	bottom:22vw;
	z-index: 10;
}
.landing .actionShapes img{
	height:auto;
	width:3%;
}
.landing .taptap{
	width:auto!important;
	opacity: 0;
	position:absolute;
	width:100vw;
	left:35%;
	bottom:23vw;
	z-index: 10;
	animation-name:textAnim;
	animation-duration: 2s;
	animation-iteration-count:infinite;
	color:white;
	font-size:14pt;
	transform: rotate(-18deg);
}
.landing .clickclick{
	width:auto!important;
	opacity: 0;
	position:absolute;
	width:100vw;
	left:61%;
	bottom:19vw;
	z-index: 10;
	animation-name:textAnim;
	animation-duration: 3s;
	animation-iteration-count:infinite;
	color:white;
	font-size:18pt;
	transform: rotate(7deg);
}
.actionShapes .leftShape{
	animation-name:actionShapesAnim;
	animation-duration: 1s;
	animation-iteration-count:infinite;
	margin-right:8%;
}
.actionShapes .rightShape{
	animation-name:actionShapesAnim;
	animation-duration: 2.33s;
	animation-delay: 0.3s;
	animation-iteration-count:infinite;

}
.landing-image .landing-main{
	display: block;
    margin-left: auto;
    margin-right: auto;
	max-width:500px;
}

.vectorProfile{
	width:180px;
	height:180px;
	margin-bottom:5vh;
}

.info-container{
}
.info{
	text-align:center;
	padding: 90px 20px 30px 20px;
}

h4{
	padding-top: 10vh;
	color: #7addb9;
	font-weight: 300;
	font-size: 17pt;
}
.landing-image-work{
	text-align: center;
}
@keyframes wiggle{
	20%{transform: rotate(15deg);}
	60%{transform: rotate(-30deg);}
	80%{transform: rotate(15deg);}
	85%{transform: rotate(5deg);}
	95%{transform: rotate(-10deg);}
	100%{transform: rotate(5deg);}
}
.vectorProfileSmall:hover{
	animation:wiggle 0.4s;
}
.ptp{
	padding-top:50px;
}
@keyframes work-landing{
	0%{height:700px;}
	100%{height:400px;}
}
@keyframes fadeIn{
	from{opacity:0.1;}
	to{opacity:1;}
}
.landing h1,.landing-image{
	animation: fadeIn 1.2s;
}
.landing-footer a:hover{
	color:#7addb9;
}
.landing-signature img{
	display: block;
    margin-left: auto;
    margin-right: auto;
	max-width:360px;
}
.landing-signature{
	margin-top:50px;
	margin-bottom:50px;
}
.landing-work{
	animation-name: work-landing;
	animation-duration: 0.7s;
	animation-timing-function: cubic-bezier(0,0,0.58,1);
	height:400px;
	background-color:#7addb9;
/*	background: linear-gradient(to top,rgb(179,255,171), rgb(122,221,185)); /* Standard syntax */*/

}
.landing-work h1{
	animation: fadeIn 1.2s;
	animation-timing-function: ease-in-out;
    padding-top: 80px;
	color: white;
	font-weight: 500;
	font-size: 36pt;
}
.work-section{
	background-color: white;
	min-height:400px;
	padding-top:80px;
	padding-bottom:80px;
	width:100vw;
}
.work-hero-content h1{
	color: #7addb9;
}

.work-hero-image{
	padding-top:80px;
	margin-bottom:40px;
	background-color: white;
}
.tutsianDefenders{
	padding-top:30px;
}

.work-hero-content{
	min-height: 350px;
	padding-right:60px;
	background-color: white;
}

.footer{
	width:100vw;
}
.unslider-arrow,.unslider-nav{
	margin-top:20px;
}

.unslider-arrow{
	color:#21564b;
	-webkit-user-select: none;
	user-select: none; 
	-moz-user-select: none;
}
.unslider-arrow:hover{
	text-decoration: none;
	color:#7addb9;
}


.unslider{
	overflow-y: hidden!important;
	overflow-x: hidden!important;
	max-width: 100%;
}
.slider{
	overflow-x: hidden;
}
.slider ul li img{
	width:100%;
	height:auto;
}

.moonArts, .closeShave, .sketches{
	padding-top:30px!important;
}

.closeShave img, .sketches img{
	display: block;
	max-height: 320px!important;
	width:auto!important;
	margin:auto;
}

@media only screen and (max-width: 1200px) and (min-width:992px){
	.work-hero-content{
	padding-left:60px;
	min-height:0px;

	}
	.container{
		padding-right:100px;
		padding-left:100px;
	}
	.work-section{
		padding-top:50px;
		padding-bottom:50px;
	}

	.row{
		margin-left:0px!important;
	}
}
@media only screen and (max-width: 768px){
	.work-hero-content{
	padding-left:60px;
	min-height:0px;
	}
	.landing-image .landing-main{
		max-width:275px!important;
	}
	.landing-signature{
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
	.landing-signature img{	
		max-width:250px;
	}
	.work-section{
		border-bottom:1px dashed #7addb9;
		padding-top:50px;
		padding-bottom:50px;
	}
	.work-hero-image{
		min-height:0px;
		padding-top:0px;
		margin-bottom:0px;
	}
	.row{
		margin-left:0px!important;
	}
}
@media only screen and (max-width: 430px){
	.work-hero-content{
		padding-right:30px;
		padding-left:30px;
		min-height:0px;
	}

}









