
@font-face {
	font-family: 'Brandon Grotesque';
	src: url('BrandonGrotesque-BoldItalic.eot');
	src: url('BrandonGrotesque-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('BrandonGrotesque-BoldItalic.woff') format('woff'),
		url('BrandonGrotesque-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('BrandonGrotesque-Black.eot');
	src: url('BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype'),
		url('BrandonGrotesque-Black.woff') format('woff'),
		url('BrandonGrotesque-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('BrandonGrotesque-Regular.eot');
	src: url('BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
		url('BrandonGrotesque-Regular.woff') format('woff'),
		url('BrandonGrotesque-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('BrandonGrotesque-Bold.eot');
	src: url('BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
		url('BrandonGrotesque-Bold.woff') format('woff'),
		url('BrandonGrotesque-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('BrandonGrotesque-Thin.eot');
	src: url('BrandonGrotesque-Thin.eot?#iefix') format('embedded-opentype'),
		url('BrandonGrotesque-Thin.woff') format('woff'),
		url('BrandonGrotesque-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('BrandonGrotesque-Medium.eot');
	src: url('BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
		url('BrandonGrotesque-Medium.woff') format('woff'),
		url('BrandonGrotesque-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('BrandonGrotesque-LightItalic.eot');
	src: url('BrandonGrotesque-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('BrandonGrotesque-LightItalic.woff') format('woff'),
		url('BrandonGrotesque-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('BrandonGrotesque-RegularItalic.eot');
	src: url('BrandonGrotesque-RegularItalic.eot?#iefix') format('embedded-opentype'),
		url('BrandonGrotesque-RegularItalic.woff') format('woff'),
		url('BrandonGrotesque-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('BrandonGrotesque-Light.eot');
	src: url('BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),
		url('BrandonGrotesque-Light.woff') format('woff'),
		url('BrandonGrotesque-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('BrandonGrotesque-ThinItalic.eot');
	src: url('BrandonGrotesque-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('BrandonGrotesque-ThinItalic.woff') format('woff'),
		url('BrandonGrotesque-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('BrandonGrotesque-BlackItalic.eot');
	src: url('BrandonGrotesque-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('BrandonGrotesque-BlackItalic.woff') format('woff'),
		url('BrandonGrotesque-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Brandon Grotesque';
	src: url('BrandonGrotesque-MediumItalic.eot');
	src: url('BrandonGrotesque-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('BrandonGrotesque-MediumItalic.woff') format('woff'),
		url('BrandonGrotesque-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

body{
	padding-top:0!important;
	font-family: "Brandon Grotesque";
}
h2 {
	color: #7addb9;
	padding-bottom:5px;
}
p{
	font-size:13pt;
}
.links{
	padding-top: 3%;
	text-align: center;
}
.links a{
	font-weight:300;
	padding-right:15px;
	padding-left:15px;
	font-size:15pt;
	color:#21564b;	
}
.links a:hover{
	text-decoration: none;
	color:#45b29a;
}
.links a:visited{
	text-decoration: none;
}
.links a:focus{
	text-decoration: none;
	color:#45b29a;
}

.landing{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	height:100vh;
	background:#3299BB;
	background-color:#3299BB;
	background: linear-gradient(to top,rgba(50,153,187,0.4), white); /* Standard syntax */
}

@keyframes actionShapesAnim {
  0%   { opacity: 1; }
  50%{opacity:1;}
  51%{opacity:0;}
  99%{opacity:0;}
  100%{opacity: 1;}
}
@keyframes textAnim {
  0%   { opacity: 0; }
  1% { opacity: 1;}
  70%{opacity:1;}
  71%{opacity:0;}
  99%{opacity:0;}
}

.landing .actionShapes{
	position:absolute;
	width:100vw;
	left:42.7%;
	bottom:22vw;
	z-index: 10;
}
.landing .actionShapes img{
	height:auto;
	width:3%;
}
.landing .taptap{
	width:auto!important;
	opacity: 0;
	position:absolute;
	width:100vw;
	left:35%;
	bottom:23vw;
	z-index: 10;
	animation-name:textAnim;
	animation-duration: 2s;
	animation-iteration-count:infinite;
	color:white;
	font-size:14pt;
	transform: rotate(-18deg);
}
.landing .clickclick{
	width:auto!important;
	opacity: 0;
	position:absolute;
	width:100vw;
	left:61%;
	bottom:19vw;
	z-index: 10;
	animation-name:textAnim;
	animation-duration: 3s;
	animation-iteration-count:infinite;
	color:white;
	font-size:18pt;
	transform: rotate(7deg);
}
.actionShapes .leftShape{
	animation-name:actionShapesAnim;
	animation-duration: 1s;
	animation-iteration-count:infinite;
	margin-right:8%;
}
.actionShapes .rightShape{
	animation-name:actionShapesAnim;
	animation-duration: 2.33s;
	animation-delay: 0.3s;
	animation-iteration-count:infinite;

}
.landing-image .landing-main{
	width:30%;
	position: absolute;
	bottom:-15px;
	left:35%;
}

.vectorProfile{
	width:180px;
	height:180px;
	margin-bottom:5vh;
}

.info-container{
}
.info{
	text-align:center;
	padding: 90px 20px 30px 20px;
}

h4{
	padding-top: 10vh;
	color: #7addb9;
	font-weight: 300;
	font-size: 17pt;
}
.landing-image-work{
	text-align: center;
}
.landing-work{	
	height:50vh;
	background:#3299BB;
	background-color:#3299BB;
	background: linear-gradient(to top,rgba(50,153,187,0.4), white); /* Standard syntax */

}
h1{
    padding-top: 100px;
	color: #7addb9;
	font-weight: 500;
	font-size: 36pt;
}
.work-section{
	height:100vh;
}
.work-intro{
	height:50vh;
	background-color: white;
	text-align:center;
	padding-top:20vh;
}
#s1{
	background-color: #87D89E;
}
#s2{
	background-color: #F2F27E;
}
#s3{
	background-color: #EDB285;
}
#s4{
	background-color: #8899FF;
}














